$themes: (
  light: (
    textColor: #000,
    bg: white,
    logo: darkblue,
    bgSoft: gainsboro,
    textColorSoft: #555,
    border: lightgray,
    postColor: #1d4ed8
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: #0ef,
    bgsoft: #333,
    textColorSoft: lightgray,
    border: #444,
    postColor: #eee
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $value: map-get(map-get($themes, $theme), $key);
        $theme-map: map-merge(  
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}


@function themed($key) {
    @return  map-get($theme-map,$key )
}

.dark-mode-transition {
  transition: all 0.6s ease; /* Add more properties as needed */
}

/* Apply the transition to elements affected by dark mode */

@mixin mobile {
  @media (max-width:480px) {
     @content;
  }
}

@mixin tablet {
  @media (max-width:960px) {
     @content;
  }
}

@mixin medium {
  @media (max-width:800px) {
     @content;
  }
}

@mixin middle {
  @media (max-width:1058px) {
     @content;
  }
}